%dropDisplayFlex .drop-cover {
  display: flex;
  opacity: 1;
}

@mixin grey-link-hover($width) {
  border-bottom: $width solid $greyBorderColor;
}

@mixin drop-before($left) {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: $backColor;
  border-left: $greyBorderColor 1px solid;
  border-top: $greyBorderColor 1px solid;
  transform: rotate(45deg);
  top: -6px;
  left: $left;
}

@mixin drop-decoration() {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  padding: 15px 20px;
  border-radius: 5px;
  background-color: $backColor;
  text-align: left;
}

@mixin drop-cover-decoration($top) {
  display: none;
  opacity: 0;
  width: 100vh;
  background: transparent;
  position: absolute;
  z-index: 1;
  top: $top;
}
@mixin greyBorderButton-dimensions($width) {
  width: $width;
  padding: 12px ($width * 0.13);
}
@mixin input-decoration($height, $margin-top) {
  width: 100%;
  height: $height;
  margin-top: $margin-top;
  box-sizing: border-box;
  padding: 0 15px;
  border: 1px solid #eaeaea;
  background-color: $backColor;
  text-transform: capitalize;
}
@mixin box-shadow-grey($around) {
  box-shadow: 0 0 $around rgba(0, 0, 0, 0.17);
}
@mixin box-shadow-pink($around) {
  box-shadow: 0 0 $around $highlightColor;
}
@mixin greyBorderButton-paddings($padding1, $padding2) {
  padding: $padding1 $padding2;
}
