$highlightColor:#f16d7f;
$greyBorderColor: #e6e6e6;
$backColor: #ffffff;
$page-width: 1400px;
$container-width: 1140px;
$feature__box__image-width: 111px;
$email-group-height: 46px;
$socialIcons__Item-dimensions: 32px;