* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Lato", sans-serif;
  width: 1600px;
  margin: 0 auto;
}
.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
}
.head {
  height: 100px;
}
.container {
  width: 1142px;
  margin: 0 auto;
}
.head,
.header__left-side,
.header__right-side,
.search,
.search__window,
.header__myAccount,
.search__button-search,
.menu,
.menu__link,
.slider__back {
  display: flex;
  align-items: center;
}
.head,
.header__left-side,
.header__right-side,
.search,
.search__window {
  justify-content: space-between;
}
.header__myAccount,
.search__button-search,
.menu {
  justify-content: center;
}
.header__right-side {
  align-items: flex-end;
}
.header__brand-name {
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.68px;
  margin-left: 13px;
}
.pink {
  color: #f16d7f;
  font-weight: 600;
}
.search > .search__browse-button {
  font-family: inherit; /*Шрифт перебивался другими стилями для класса button*/
  width: 87px;
  height: 38px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}
.search {
  height: 38px;
  margin-left: 37px;
}
.search__window {
  width: 317px;
  height: 100%;
}
.search__window > input {
  font-family: inherit; /*Шрифт перебивался другими стилями для класса input*/
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #e6e6e6;
  border-right: 0;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
}
.search__button-search {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  height: 100%;
  width: 38px;
  box-sizing: border-box;
}
.header__myAccount {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  margin-left: 45px;
}
.menu {
  height: 51px;
}
.menu__link {
  height: 100%;
  padding-right: 25px;
  padding-left: 25px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.slider {
  height: 562px;
  background-color: #e8e8e8;
}
.slider__back {
  height: 100%;
  background: url(img/slider_back.jpg);
  background-position-y: -50px;
}
.slider__inscription {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}
.slider__words {
  color: #222222;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 32px;
  margin-top: 15px;
}
.slider__big-words {
  font-size: 60px;
  letter-spacing: 1.5px;
  line-height: 43px;
  margin-top: 0;
}
